html{
    scroll-behavior: smooth;
 }
 *{
    padding: 0;
    margin: 0
 }
 
 body{
     background-color:rgb(0, 0, 0)
 }
 
 ul{
     position:absolute;
     left: 80%;
     top: 10%;
     transform: translate(-60%,-60%);
     background: rgb(28, 29, 28);
     width: 550px;
     height: 75px;
     border-radius: 10px;
     box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     display: flex;
 }
 
 ul li{
    line-height: 70px;
       width: 160px;
       color: rgb(231, 16, 16);
       font-family: Arial, Helvetica, sans-serif;
       list-style: none;
       text-align: center;
       font-size: 15px;
       transition: 0.5s;
       cursor: pointer;
       font-weight: bold
 
 }
  
  
   li:hover{
     color: rgb(9,175,134);
     color:rgb(9,175,134);
  }
  .bottom{
     position: absolute;
     width: 80px;
     height: 6px;
     background: rgb(225, 255, 6);
     bottom: 0;
     left: 10px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     transition: 0.3s;
 
  }
  li:nth-child(2):hover ~ .bottom{
     left: 110px;
  }
  li:nth-child(3):hover ~ .bottom{
  left: 210px;}
  li:nth-child(4):hover ~ .bottom{
     left: 310px;}
 li:nth-child(5):hover ~ .bottom{
 left: 410px;}    
  h1{
     position:absolute;
     left:5%;
     bottom: 75%;
     color:rgb(255, 255, 255) ;
     font-size: 70px;
     text-shadow: 10px 10px 10px rgb(0 0 0);
       
  }
  .yu{
    position:absolute;
    top: 30%;
    left: 30%;
  }    
   .one{
    position: absolute;
    font-size: 65px;
    color:rgb(126, 115, 115);
    left:15%;
    top: 50%;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    border-style:solid ;
    font-weight: bold;
    text-align: center;
   }
  img.two {
     position:absolute;
     height: 500px;
     left: 75%;
     top: 20%;
  }
  .three{
    position: absolute;
    font-size: 70px;
    color:rgb(218, 241, 11);
    left: 30%;
    top: 70%;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(8, 8, 0, 0.973);
    border-style:solid ;
    justify-content: 50px;
  }
  link[a]{
    color: #fff;
  }
  
  
 .section2{
    max-width: 1200px;
    margin: 50px;
    padding: 50px;
    background-color: #3e4444;
    overflow: auto;
    align-content:  border center;
 }
 .gallery{
    margin: 5px;
    border:5px solid rgb(0, 0, 0);
    float: left;
    width:300px;
 }
 .gallery img{
    width:300px;
    height:300px;
 }
 .description{
    padding:15px;
    text-align: center;
    color: #fff;
    font-size:20px;
    font-weight:bold
 }
 .four{
    position: relative;
    bottom: 10%;
    left: 1%;
    color: rgb(182, 12, 20);
    text-align: center;
    text-transform: uppercase;
    text-shadow:10px 10px 10px rgb(141, 130, 175);
 }
 .left{
    color: rgb(128, 86, 86);
    font-weight: bold;
    font-size: 50px;
 }
 .pic{
    position: absolute;
    height: 400px;
    bottom: 70px;
    right:950px
 }
 .pic2{
    float:right;
    position: absolute;
    top:20%;
    height: 400px ;
    top:  140px;
    left: 900px;
  
    
 }
 .container{
    padding: 30px;
 }
 .six{
position: relative;
 bottom: 30%;
  left: 50px;
  top:25px;  
 }
 .pic3{
    position: relative;
    height: 500px;
    bottom: 60%;
    top:350px;
    right: 45px;
    
 }
